<div class="nav">
    <div class="logo">
        <h3>MYHUB</h3>
    </div>
    <div class="burgerIcon" id="burgerIcon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="menuWrapper" id="navMenu">
        <div class="menu">
            <div class="closeMenuBtn" id="closeMenuBtn">
                Cerrar
            </div>
        <ul>
            <li class="menuTitle">Peliculas:</li>
            <li class="menuItem menuClicable" data-category="actionMovies">Acción</li>
            <li class="menuItem menuClicable" data-category="comedyMovies">Comedia</li>
            <li class="menuItem menuClicable" data-category="dramaMovies">Drama</li>
            <li class="menuTitle">Series:</li>
            <li class="menuItem menuClicable" data-category="fantasySeries">Fantasía</li>
            <li class="menuItem menuClicable" data-category="actionSeries">Acción</li>
            <li class="menuTitle menuClicable" data-category="watchingNow">Viendo</li>
            <li class="menuTitle menuClicable" data-category="favorites">Mis favoritos</li>
            <li class="menuTitle menuClicable" data-category="recomendations">Mis recomendados</li>
        </ul>
    </div>
</div>
