
<div class="dashboardWrapper">
    
    <div class="titulo">
        <h2>{{ type }} / {{ category }}</h2>
    </div>

    

    <div class="dashboard" id="mainContent">
        
        <div *ngIf="this.loadingService.loading$ | async" class="loading-modal">
            <div class="loading-spinner">Loading data, please wait...</div>
        </div>
        
        <div *ngIf="!(loadingService.loading$ | async)" class="coverItemsWrapper">

            <div *ngFor="let movie of movies" class="coverItem">
                <div class="img">
                    <img src="{{ movie['img_url'] ?? movie['movie_img_url'] }}" alt="Cover {{ movie['name_m']??movie['movie_name'] }}">
                </div>
                <div class="textPart">
                    <div class="title">{{ movie['name_m']??movie['movie_name'] }}</div>
                    <div class="desc">{{ movie['description_m'].substring(0, 150) + '...' }}</div>
                    <div class="controls">
                        <a class="btn" [routerLink]="['/Dashboard/Detail/Peliculas', movie.id]">Detalle</a>
                        <a class="btn" [routerLink]="['/Dashboard/Watch/Peliculas', movie.id]">Ver</a>
                        <a *ngIf="!movie.fav" (click)="addFav(movie)" class="btn">Agregar a favoritos</a>
                        <a *ngIf="movie.fav" (click)="removeFav
                        (movie)" class="btn">Eliminar de favoritos</a>
                    </div>
                </div>
            </div>

            <div *ngFor="let serie of series" class="coverItem">
                <div class="img">
                    <img src="{{ serie['img_url'] }}" alt="Cover {{ serie['name_s'] }}">
                </div>
                <div class="textPart">
                    <div class="title">{{ serie['name_s'] }}</div>
                    <div class="desc">{{ serie['description_s'].substring(0, 150) + '...' }}</div>
                    <div class="controls">
                        <a class="btn" [routerLink]="['/Dashboard/Detail/Series', serie.id]">Detalle</a>
                        <a class="btn" [routerLink]="['/Dashboard/Watch/Series', serie.id]">Ver</a>
                        <a *ngIf="!serie.fav" (click)="addFav(serie)" class="btn">Agregar a favoritos</a>
                        <a *ngIf="serie.fav" (click)="removeFav
                        (serie)" class="btn">Eliminar de favoritos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
