<div class="dashboardWrapper">
    <div class="dashboard" id="mainContent">
        <div class="coverItemsWrapper">
            <div *ngFor="let cover of [1,1,1,1,1,1,1,1,1,1,1]" class="coverItem">
                <div class="img">
                    <img src="https://image.tmdb.org/t/p/original/cSkGnAA9b7Hj4rs51KdMsUfFpBd.jpg" alt="Cover The Lord of The Rings">
                </div>
                <div class="textPart">
                    <div class="title">Soy un título</div>
                    <div class="desc">Soy una breve descripcion Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi voluptas dicta repellendus unde cupiditate eaque fugit</div>
                    <div class="controls">
                        <div class="btn">Ver</div>
                        <div class="btn">Detalle</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
