.coverWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.movieImg {
    width: 300px;
    text-align: center;
}

.movieImg img {
    width: 100%;
}

.movieCategory {
    font-size: 1.5rem;
}
.movieTitle {
    font-size: 2rem;
    padding-block: 1rem;
}

.movieDesc {
    max-width: 800px;
    text-align: justify;
    font-size: 1.1rem;
    padding-top: 2rem;
    line-height: 2rem;
    padding: 5%;
}

.charapteres {
    margin:5%;
}
.charapteres h3 {
    padding-block: 1rem;
}
.charapter {
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.charapter strong {
    padding-bottom: 1rem;
}